<mat-card>
  <mat-card-header>Teams</mat-card-header>

  <mat-divider></mat-divider>
  <mat-expansion-panel *ngFor="let team of teams">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ team.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ team.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-action-row><button mat-button (click)="openDialog()"><mat-icon id="addMember">person_add</mat-icon></button></mat-action-row>
    <div class="dog" *ngFor="let pic of pics">
        <img
        src= "{{ pic }}"
        alt=""
        matTooltip="Info about the action"
        matTooltipPosition="above"
        aria-label="Button that displays a tooltip when focused or hovered over">
    </div>
  </mat-expansion-panel>
  <mat-card-content></mat-card-content>

</mat-card>
