<mat-card>
  <mat-card-header>Teams</mat-card-header>

  <mat-divider></mat-divider>
  <mat-expansion-panel *ngFor="let team of teams">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ team.name }}
      </mat-panel-title>
      <mat-panel-description>
        {{ team.description }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="dog">
        <img *ngFor="let member of team.members"
        class="member-pic"
        src= "https://trello-attachments.s3.amazonaws.com/5f96cdcf742fd017660cfbad/5f96d1139638e35950daee78/x/05f14b5c78b771ed563b934c5d19bf68/avatar.png"
        alt=""
        matTooltip="{{member.first_name}} {{member.last_name}}"
        matTooltipPosition="above"
        aria-label="Button that displays a tooltip when focused or hovered over">
    </div>
    <mat-action-row><mat-icon id="addMember">person_add</mat-icon></mat-action-row>
  </mat-expansion-panel>
  <mat-card-content></mat-card-content>

</mat-card>
