<mat-card class="team-list-container">
  <div class="team-list-card-container">
  <mat-card-header style="border-bottom: solid 1px lightgray;">
    Teams
  </mat-card-header>
  <mat-card-content class="team-list-card-content">
    <mat-accordion cdkDropListGroup multi="true">
      <mat-expansion-panel *ngFor="let team of teaminfo">
        <mat-expansion-panel-header (click)="selectedTeam(team)">
          <mat-panel-title>
            {{ team.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ team.description }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-action-row>
            <mat-icon id="addMember" (click)="openDialog(team)">person_add</mat-icon>
        </mat-action-row>
            <div cdkDropList class="drag-photo-list team-member-container"
             [cdkDropListData]="team.members"
              (cdkDropListDropped)="drop($event, team.id)"
              cdkDropListOrientation="horizontal">
                <img *ngFor="let member of team.members"
                  cdkDrag
                  class="member-pic"
                  src= "https://trello-attachments.s3.amazonaws.com/5f96cdcf742fd017660cfbad/5f96d1139638e35950daee78/x/05f14b5c78b771ed563b934c5d19bf68/avatar.png"
                  alt=""
                  matTooltip="{{member.first_name}} {{member.last_name}}"
                  matTooltipPosition="above"
                  aria-label="Button that displays a tooltip when focused or hovered over">
          </div>
          <div class="noMembers" *ngIf="!team.members">
            No members on this team
          </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
    <mat-card-actions class="team-list-card-actions">
        <span class="team-list-action-buttons">
          <mat-icon
          #tooltip="matTooltip"
          matTooltip="Add Team"
          matTooltipPosition="above"
          matTooltipHideDelay="1000"
          aria-label="Button that displays a tooltip that hides when scrolled out of the container"
          class="example-button"
          id="add_box"
          (click)="openAddTeam()">add_box</mat-icon>
        </span>
  </mat-card-actions>
  </div>

</mat-card>
