<form class="whole" [formGroup]="garbage">
  <div class="container">
    <mat-form-field>
      <input id="newTeamName" matInput placeholder="Team Name" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input id="newTeamDescription" matInput placeholder="Team Description" formControlName="description">
    </mat-form-field>
  </div>
  <button mat-button (click)="addNewTeam()" style="margin-left: 2%;">Submit</button>
  <button mat-button mat-dialog-close>Cancel</button>
</form>
