@import "./src/variables.scss";


mat-card {
  width: 45vw;
  // float: right;
  height: 76%;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card-title {
  color: $viz-grey;
}
