@import "./src/variables.scss";

mat-card {
  margin-right: 3vw;
  margin-top: 4vw;
  width: 35vw;
  float: right;
  height: 72%;
}

.placeholder-text {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 29%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  color: $viz-grey;
}

.team-name {
  color: $viz-grey;
  padding-top: 2%;
  padding-left: 2%;
  padding-bottom: 3%;
  width: 100%;
}

.team-list {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  padding-left: 2%;
}

.member {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding-bottom: 2%;
}

.info {
  padding-top: 10%;
  padding-left: 1%;
  color: $viz-grey;
}
