<mat-card>
<div class="placeholder-text" *ngIf="team.members.length === 0">
  <mat-card-title >Select a team to view members.</mat-card-title>
</div>
  <mat-card-title *ngIf="team.members.length >= 1 && !memberView" class="team-name">{{ team.name }}</mat-card-title>
  <mat-card-title id="click" *ngIf="memberView" class="team-name">
    <span (click) = "clearMemberInfo()">{{ team.name }}</span>
    >
    <span>{{ this.selectedMember.first_name }} {{this.selectedMember.last_name}}</span></mat-card-title>

  <div class="team-list" *ngIf="!memberView">
    <div class="member" *ngFor="let member of team.members">
      <div class="memberInfoContainer" (click)="showMemberInfo(member)">
        <img
        src="https://trello-attachments.s3.amazonaws.com/5f96cdcf742fd017660cfbad/5f96d1139638e35950daee78/x/05f14b5c78b771ed563b934c5d19bf68/avatar.png"
        height="90px">
        <h4 class="info">{{ member.first_name }} {{ member.last_name }} {{ member.title }}</h4>
      </div>
    </div>
  </div>

  <div class="team-list" *ngIf="memberView">
    <div class="single-member">
      <div class="memberInfoContainer">
        <mat-divider></mat-divider>
        <img class="memberImageDetail"
        src="{{this.selectedMember.image}}">
        <h4 class="memberInfo">{{ this.selectedMember.first_name }}
          {{ this.selectedMember.last_name }}
          <br>
          {{ this.selectedMember.title }}
          <br>
          coolemail@gmail.com <!-- add in dynamic data later -->
        </h4>
      </div>
    </div>
  </div>

</mat-card>
