<mat-card>

  <mat-card-title *ngIf="members.length === 0">Select a team to view members.</mat-card-title>

 <div>
  <mat-grid-list cols="2" rowHeight="3:1" *ngFor="let member of members">
    <mat-grid-tile>
    <div class="master">
      <div class="image">
        <img src="./assets/images/kitty.jpg" height="80px">
      </div>
      <div class="info">
        <h4>{{member.first_name}} {{member.last_name}} <br> {{member.title}}</h4>
      </div>
    </div>
    </mat-grid-tile>
  </mat-grid-list>
 </div>

</mat-card>
