@import "./src/variables.scss";


mat-card {
  margin-right: 3vw;
  margin-top: 4vw;
  width: 45vw;
  float: right;
  height: 72%;
}
mat-card-title {
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 29%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  overflow: hidden;
  color: $viz-grey;
}

mat-grid-tile{
  border-style: solid;
}

.info{
  padding-top: 37px;
}

.master{
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
