.viz-logo {
  width: 6em;
  border-right: solid 1px #CC3E00;
  padding-right: 1em;
}
.header-desc {
  padding-left: 1em;
  font-size: 1.2em;
}
.username {
  right: 2em;
  position: fixed;
}

app-teams-list {
  height: calc(100vh - 64px);
  width: 50%;
}

app-team-container {
  height: calc(100vh - 64px);
  width: 50%;
  margin-top: 55px;
  margin-left: 2%;
}

.teams-list {
  display: flex;
  width: 100%;
  background-color: lightgrey;
}
