.example-form {
  // min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.input-hold {
  display: flex;
  // justify-content: space-between;
}

.space {
  margin-left: 5%;
}

button {
  border: transparent;
  background: white;
  float: right;


}

button:focus {
  outline: none;
  box-shadow: none;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: red;
}

.pic-selector{
  display: flex;
  flex-direction: row;
  border: solid;
  border-color: white;
  width: 100%;
}

// .column {
//   width: 20%;
// }

.row {
  display: flex;
  flex-direction: row;
}

.pic {
  // display: flex;
  // flex-direction: row;
  width: 130px;
  height: 90px;
  padding: 5%;
  // float: inline-block;
}

.select {
  width: 130px;
  padding-left: 3.5%;
  padding-right: 3.5%;
  height: 90px;
  border-bottom: #ff4e00 4px solid;
  opacity: 0%;
}

.notSelect {
  width: 130px;
  height: 90px;
  padding-left: 3.5%;
  padding-right: 3.5%;
  opacity: 20%;
}

.untouched {
  width: 130px;
  height: 90px;
  padding-left: 3.5%;
  padding-right: 3.5%;
}
