.example-full-width {
  width: 95%;
}

.input-hold {
  display: flex;
}

// .space {
//   margin-left: 5%;
// }

button {
  border: transparent;
  background: white;
  float: right;
}

button:focus {
  outline: none;
  box-shadow: none;
}

input {
  width: 30;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: red;
}

.pic-selector{
  display: flex;
  width: 100%;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

img {
  margin: 0 8px;
}

.selected {
  width: 100px;
  height: 100px;
  border-bottom: #ff4e00 4px solid;
  opacity: 100%;
}

.notSelect {
  width: 100px;
  height: 100px;
  opacity: 50%;
}

.pic-row {
  display: flex;
  justify-content: space-between;
}
